---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<p>hello there! i have a garry's mod server! find it in server list: <code class="border-white underline">gurkz GMod</code></p>
</Layout>