---
import Layout from '../layouts/Layout.astro'
import RecentBlogPosts from '../components/RecentBlogPosts.astro'
---

<Layout>
	<p>hello there! welcome to my website!</p>
	<RecentBlogPosts />
</Layout>