---
import type { BlogPost as Props } from '../types/BlogPost';

const { slug, title, brief } = Astro.props;
---

<div class="bg-gray-600 rounded-md p-4 m-4 pb-5">
    <h1 class="text-center pb-2">{title}</h1>
    <p>{brief}</p>
    <a class="underline underline-offset-4" href=`https://blog.gurkz.me/${slug}`>Continue reading</a>
</div>