---
import Link from '../../components/Link.astro';
import Layout from '../../layouts/Layout.astro'
---

<Layout>
	<p>hello there! i have a minecraft bedrock edition realm! <Link to="https://realms.gg/QnGqAhSbv4A" underlined>click here to join!</Link></p>
	<p>more info about it coming soon!</p>
</Layout>