<!-- 
    this page is only for the garry's mod server
    garry's mod servers can have custom loading screens so here we are...
 -->

<style is:inline>
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
    animation: fadeIn 3s;
}

</style>

<body class="bg-gray-700">
    <div class="text-white text-center pb-4 mt-12">
        <h1 class="text-4xl">gurkz GMod</h1>
        <p class="text-2xl animate-pulse">loading...</p>
    </div>
    <div class="absolute right-1/2 bottom-1/2  transform translate-x-1/2 translate-y-1/2">
        <div class="text-center border-t-transparent border-solid animate-spin rounded-full border-green-600 border-8 h-32 w-32" />
    </div> 
    <p class="text-white text-center sticky bottom-0 align-bottom pt-96 mt-44">learn more at <a class="text-blue-400 underline" href="https://gurkz.me/gmod">https://gurkz.me/gmod</a></p>
</body>
