<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>gurkan</title>
	</head>
	<body class="bg-black text-white m-auto p-5">
        <header class="pb-2">
            <h1 class="text-2xl text-center">gurkan's website</h1>
        </header>
		<main>
            <slot />
        </main>
	</body>
</html>

<style is:global>
    /* global css */

    html {
        color-scheme: dark;
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }

    body {
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        width: 100%;
        max-width: 65ch;
    }
</style>